<footer class="pt-5 my-md-5 pt-md-5 border-top">

    <div class="container p-3 text-center mt-5">
        <h5>Bpro++</h5>
        <p class="lead">C'est simple , il s'agit de bproo .</p>
    </div>
</footer>
</div>
<script src="js/jquery.js"></script>
</body>

</html>