<%- include("partials/header"); -%>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">A propos de Bproo++.</h1>
    <p class="lead">Bproo++ est un site fait juste pour le plaisir par un etudiant de seven academy</p>
</div>
<%- include("partials/footer"); -%>